body {
  margin: 0;
  padding: 0;
}

/*section 1*/

.section1 {
  background: url("../media/images/albania.jpg") center center/cover no-repeat;
  padding: 25vh 0;
  background-size: cover;
  text-align: center;
}

.section1 .content {
  text-align: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.section1 img {
  max-width: 100%;
}

.section1 h1 {
  padding-top: 150px;
  font-size: 110px;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

.section1 p {
  color: #fff;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
}

.section1::after {
  content: "";
  position: absolute;
  bottom: 190px;
  left: 48%;
  transform: translateX(-50%);
  border: solid #ffffff;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 25px;
  transform: rotate(45deg);
  cursor: pointer;
}

/* section 2 */

.section2 {
  background: url("../media/images/albania2.jpg") center center/cover no-repeat;
  height: 250px;
  padding: 20vh 0;
  background-size: cover;
}

.text-block1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.text-block2 {
  text-align: left;
  color: #fff;
  font-size: 25px;
  margin-right: 50px;
}

.button {
  background-color: #143b16;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/* section 3 */

.section3 {
  background: url("../media/images/albania4.jpg") center center/cover no-repeat;
  height: 750px;
  padding: 20vh 0;
  background-size: cover;
}

.section3 h2 {
  font-size: 40px;
  margin-top: 0px;
  color: #fff;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  position: relative;
  text-align: center;
  margin: 0 20px;
}

.image-box img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.image-box p {
  margin-top: -200px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.arrow-down {
  border: solid white;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 15px;
  transform: rotate(45deg);
  margin-top: 10px;
  cursor: pointer;
}

.section3-button {
  background-color: #143b16;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  margin: 120px auto 0;
  cursor: pointer;
}

/* section 4 */

.section4 {
  background: url("../media/images/albania3.jpg") center center/cover no-repeat;
  height: 380px;
  padding: 40vh 0;
  background-size: cover;
}

.text-block1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
}

.section4 .text-block2 {
  text-align: left;
  color: #fff;
  font-size: 25px;
  margin-right: 50px;
}

/* section 5 */

.section5 {
  background: url("../media/images/albania9.jpg") center center/cover no-repeat;
  height: 10vh;
  padding: 20vh 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  text-align: center;
  background: #143b16;
  height: 250px;
  width: 250px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.large {
  font-size: 44px;
  font-weight: bold;
  margin: 0;
}

.small {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.circle-text {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* section 6 */

.section6 {
  background: url("../media/images/albania8.jpg") center center/cover no-repeat;
  height: 30vh;
  padding: 20vh 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6 article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-circle {
  height: 150px;
  width: 150px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-circle img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.section6 p {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffff;
  justify-content: center;
}

.section6 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffff;
  justify-content: center;
  margin-left: 175px;
}

.arrow-down-1 {
  border: solid white;
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  margin-left: 240px;
  margin-top: 40px;
  cursor: pointer;
}

/* Section 7 */

.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 605px;
}

.img {
  max-width: 400px;
  margin: -2px;
}

.section7-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section 8 */

.section8 {
  background: url("../media/images/albania16.jpg") center center/cover no-repeat;
  height: 30vh;
  padding: 20vh 0;
  background-size: cover;
  display: flex;
  justify-content: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contact-details {
  width: 40%;
  color: #fff;
}

.contact-details h1 {
  font-size: 60px;
}

.social-icons i {
  font-size: 30px;
  color: #143b16;
  padding: 10px;
}

.contact-form {
  width: 50%;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.contact-form form input[type="submit"] {
  background-color: #143b16;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
